.login{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__form{
        background-color: rgba(214, 214, 214, 0.781);
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding:20px;
        text-align: center;
        max-width: 600px;
    }
    &__submit{
        width: 100px;
        align-self: center;
        border-radius: 15px;
        border-width: 2px;
        margin:10px;
        padding:3px;
    }

}
.error{
    color: red;
}

.login__submit:hover{
    transition: 1.2s;
    background-color: deepskyblue;
}